h1 {
    font-size: 70px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    float: right;
    height: auto;
    width: 35vw;
}

body {
    font-size: 24px;
    font-family: sans-serif;
    background-color: #140941;
    color: #bc0732;
}

a,
a:visited,
a:hover,
a:active {
    line-height: 20px;
    color: #bc0732;
}

.home {
    font-size: 40px;
    padding: 10vh;
    text-align: center;
}